/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
  color: #333;
  background-color: #e9eff5;
}

.container {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu a li {
  padding: 15px 20px;
  border-bottom: 1px solid #34495e;
  cursor: pointer;
  text-align: center;
  margin: 8px 0px;
  color: white;
  background-color: #34495e;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.menu a li:hover {
  background-color: #1f7fdf;
  transform: scale(1.05);
  transition: all 0.2s;
}

/* Social Media */
.social-media {
  height: 50px;
  width: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #34495e;
  margin: 10px auto;
  border-radius: 8px;
}

.social-media a img {
  height: 30px;
  width: 30px;
  transition: all 0.2s linear;
  filter: grayscale(100%);
}

.social-media a img:hover {
  transform: scale(1.15);
  filter: none;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fb;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  display: inline-block;
  padding-bottom: 5px;
}

/* Table Styles */
.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.data-table th,
.data-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.data-table th {
  background-color: #3498db;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #f4f4f9;
}

.data-table tr:hover {
  background-color: #dfeefc;
}

.action-btn {
  background-color: #3498db;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.action-btn:hover {
  background-color: #2980b9;
}
